@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat&family=Roboto:ital@0;1&display=swap');

.navegador {
    list-style-type: none;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*elementos del header*/
.top-header{
    margin: 0.5% 0% 0.5% 15%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

header{
    margin-bottom: 20px;
}

.entrada{
    width: 12%;
    height: 30%;
    margin: 5px 0px 0px 0px;
}

.logo{
    width: 80%;
    margin: 5px 10px 0px 10px;
}

.titulo{
    font-weight: bolder;
    font-size: 0.85rem;
    line-height: 30px;
    margin: 0px 0px 0px 10px;
}

.rif{
    font-weight: lighter;
    font-size: 0.8rem;
    margin: 0px 0px 0px 10px;
}

.indice{
    display: flex;
}

.menu{
    width: 85%;
    padding: 20px 0px 0px 0px;
    background-color: rgb(25, 133, 141);
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.6rem rgb(21, 74, 78);
}

.navegador{
    background-color: rgb(25, 133, 141);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 2% 0% 0% 0%;
}

li{
    margin: 0px 25px 0px;
    display: flex;
    flex-direction: row;
    transition: box-shadow 0.3s ease;
}

li a{
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: white;
    transition: color 0.3s ease;
}

.lista:hover{
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

li a:hover{
    color: rgb(24, 21, 106);
}

.identifier{
    width: 100%;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(46, 109, 123);
    margin: 60px 0px 70px;
    padding: 20px 0px 20px 180px;
    background-color: rgb(213, 241, 241);
}

@media screen and (max-width: 800px){
    .top-header{
        margin: 1% auto 1%;
        display: none;
    }
    .indice{
        margin: 5% 0 5%;
    }
    .identifier{
        width: 100%;
        margin: 0% 20% 10% 0%;
        padding: 5%;
    }
    .menu{
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .navegador{
        display: flex;
        flex-direction: column;
    }
    .entrada{
        width: 40%;
    }
}

@media screen and (max-width: 400px){
    .titulo, .rif{
        font-size: 10px;
        line-height: 20px;
    }
}

/*elementos del index.html*/

.present{
    font-weight: bolder;
    text-align: center;
    margin: 40px 0px 0px 10px;
    font-size: 20px;
}

.subpresent{
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
    line-height: 60px;
}

.img-fluid{
    width: 100%;
    height: 100%;
}

.inicio{
    display: grid;
}

.inicio2{
    width: 40%;
}

/*elementos de productos.html*/

.col{
    margin-bottom: 1%;
    transition: 0.3s ease;
}

.col:hover{
    transform: scale(1.1);
}

.product-image{
    width: 100%;
    height: 24rem;
}

.card{
    width: 400px;
    margin-left: 50px;
    transition: 0.3s ease;
}

.card:hover{
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

.descarga-catalogo{
    font-size: 20px;
    margin: 60px;
}

.card1{
    text-align: center;
    width: 22%;
    height: 10%;
    margin: 2% auto;
}

.card-title{
    font-weight: bolder;
}

@media screen and (max-width: 1200px){
    .col{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 800px){
    .card1{
        width: 70%;
    }
    .col{
        width: 90%;
    }
}
    .card{
        margin: 0 auto;
        width: 90%;
    }

@media screen and (max-width: 400px){
    .col{
        width: 95%;
        margin-left: 0%;
    }
    .product-image{
        height: 60%;
    }
}

/*elementos de servicios.html*/

.titulo-servicios{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
}

.servicios{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
}

.atencion-personalizada, .ducterias{
    width: 80%;
    height: 63%;
    padding: 40px;
    margin: 3%;
    border-radius: 20px;
    background-color: #efefef;
    transition: 0.3s ease;
    font-size: 100%;
}

.atencion-personalizada:hover, .ducterias:hover{
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.imagen-atencion, .imagen-ducto{
    width: 95%;
    height: 40%;
    margin: 10px;
    border-radius: 20px;
}

.customer-service1, .ducts1{
    font-weight: bolder;
    text-align: center;
    margin: 20px;
}

.ducts2{
    text-align: center;
    line-height: 30px;
}

.customer-service2 {
    text-align: left;
    line-height: 30px;
    margin-left: 0px;
}

@media screen and (max-width: 800px) {
    .servicios{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .atencion-personalizada{
        width: 90%;
        margin: 3%;
        padding: 0;
    }
    .customer-service2{
        padding: 0;
    }
    .ducterias{
        width: 90%;
    }

    .titulo-servicios{
        line-height: 30px;
    }
}

/*elementos de nosotros.html*/

.us{
    width: 85%;
    background-color: rgb(209, 235, 245);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.us-description{
    width: 50%;
}

section h3{
    font-style: italic;
    font-weight: bolder;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    margin: 30px 0px 20px 40px;
}

.nosotros{
    display: flex;
    flex-direction: row;
}

.handshake{
    width: 50%;
}

.illustration{
    width: 100%;
}

.saludo{
    width: 70%;
    margin: 5% 0% 10% 15%;
    border-radius: 20px;
}

.valores{
    width: 58%;
    margin: 0% 0% 0% 20%;
}

.nuestros-valores{
    color: rgb(46, 109, 123);
    font-weight: bolder;
    font-size: 25px;
    margin: 0 auto;
}

.valor-type{
    line-height: 35px;
}

p.quienessomos, p.mision, p.vision{
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    padding: 10px;
    margin: 0px 100px 0px;
}

@media screen and (max-width: 800px) {
    .nosotros{
        display: flex;
        flex-direction: column;
    }
    .handshake{
        width: 100%;
    }
    .us-description{
        width: 100%;
        margin-left: 5%;
    }
    .us{
        width: 90%;
    }
    .saludo{
        width: 85%;
        margin: 7%;
    }
    .valores{
        width: 85%;
        margin: 5%;
    }
    .quienessomos, .mision, .vision,
    p.quienessomos, p.mision, p.vision{
        margin: 2%;
        width: 90%;
    }
    .valor-type{
        margin: 0;
    }
}

/*elementos de contacto.html*/

.info-contacto{
    display: flex;
}

.info-contacto1{
    width: 60%;
    margin-left: 5%;
}

.info1{
    margin: 0px 0px 40px;
    line-height: 40px;
    font-size: 15px;
}

.info2{
    line-height: 40px;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

.info3{
    line-height: 50px;
    margin: 0px 0px 40px 0px;
}

.whatsapp{
    font-weight: bolder;
    line-height: 30px;
    margin-top: 80px 0px 15px;
}

.whatsappqr{
    width: 100%;
}

.whatsappimage{
    border-radius: 20px;
}

.sociales{
    width: 40%;
}

.sociales2{
    width: 65%;
    height: 95%;
    padding: 20px;
    background-color: #efefef;
    border-radius: 20px;
}

.siguenos{
    margin: 10px;
}

.instagram{
    margin-top: 20px 0px 20px;
    width: 95%;
}

.twitter-timeline{
    width: 95%;
}

@media screen and (max-width: 800px) {
    .info-contacto{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .info-contacto1{
        width: 90%;
        font-weight: 8px;
    }
    .sociales{
        width: 100%;
        margin: auto;
    }
    .info3{
        line-height: 30px;
        text-align: left;
    }
    .info4{
        margin: 20px 0px 20px;
    }
    .sociales2{
        width: 85%;
        margin: 1%;
    }
    .siguenos{
        text-align: center;
    }
}

/*elementos de footer*/

footer{
    margin: 5% 0% 0% 0%;
    padding: 40px;
    text-align: center;
    background-color: rgb(46, 109, 123);
    color: white;
}

.pie-pagina{
    display: flex;
    flex-direction: row;
}

.nav-foot{
    margin: 0% 10% 0% 0%;
}

.contacto-pie{
    margin: 1% 10% 0%;
    font-size: 15px;
    line-height: 30px;
}

.icons{
    margin: 1% 5% 0% 10%;
}

@media screen and (max-width: 800px) {
    .pie-pagina{
        display: flex;
        flex-direction: column;
    }
    .nav-foot{
        width: 85%;
        margin: 0% 0% 60% 35%;
    }
    .nav-foot2{
        margin: 0 0 0 35%;
    }
    .contacto-pie{
        width: 80%;
        margin: 0% 0% 5%;
    }
    .icons{
        width: 80%;
    }
}

@media screen and (max-width: 400px){
    .nav-foot{
        margin: 0%;
    }
}